body {  font-family: Helvetica, Arial,sans-serif;
        background-image: url("../media/Poké_Ball_icon.svg.png");
        background-size: 1000px;
        background-repeat: no-repeat;
        background-position: center;

}
h1 {
    display: block;
    color: yellow;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 42px;
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form {   display: block;
    width: 440px;
    margin: auto;
    color: yellow;
}